<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
-->
{% set template_css = "../css/templates/system.css" %}
{% set pageTitle = "Enter password" %}
{% set font_config = {
  "Source Serif Pro": ["600"],
  "Montserrat": ["400", "500"]
} %}
{% extends "../system-base.html" %}

{% block body %}
  <section class="section-wrapper">
    {% module "password_prompt_heading"
      path="@hubspot/rich_text",
      html={{ "<h1>" ~ template_translations.password_prompt_heading.message ~ "</h1><p>" ~ template_translations.password_prompt_subheading.message ~ "</p>" }}
    %}

    <div class="password-prompt-wrapper">
      <label for="hs-pwd-widget-password">{{ template_translations.password_prompt_label.message }}</label>
      {% module "password_prompt"
        path="@hubspot/password_prompt",
        extra_classes="form-wrapper form-wrapper--password-prompt"
      %}
    </div>
  </section>
{% endblock body %}
