<!--
  templateType: quote
  isAvailableForNewContent: true
  label: Basic
  screenshotPath: ../images/basic.png
-->

{% extends './layouts/base.html' %}

{% block stylesheet %}
  {{ require_css(get_asset_url("../css/basic.css")) }}
{% endblock stylesheet %}

{% if html_lang_dir == 'dir="rtl"' %}
  {{ require_css(get_asset_url("../css/rtl-print.css")) }}
{% endif %}

{% block body %}

{% require_css %}
  <style>
    {% if module_data|attr('buyer_company')|attr('hidden') &&
      module_data|attr('buyer_contacts')|attr('hidden') &&
      module_data|attr('reference')|attr('hidden') &&
      module_data|attr('quote_created')|attr('hidden') &&
      module_data|attr('quote_expires')|attr('hidden') &&
      module_data|attr('sender_company')|attr('hidden') &&
      module_data|attr('sender_contact')|attr('hidden')
    %}
      .hs-quotes--basic .letterhead { display: none; }
    {% endif %}

    {% if !QUOTE.hs_payment_enabled %}
      .hs-quotes--basic .line-items__payment { display: none; }
    {% endif %}

    {% if module_data|attr('payment-schedule')|attr('hidden') || !ASSOCIATED_OBJECTS.payment_schedule %}
      .hs-quotes .payment-schedule { display: none; }
    {% endif %}
  </style>
{% end_require_css %}

<body class="hs-quotes hs-quotes--basic">
  <div class="header">
    {% module "logo" path="../modules/quote_logo" %}
    <div class="header_wrapper">
      {% module "quote_name"
        label="Quote name"
        path="@hubspot/rich_text",
        html="
          <h1>{{ personalization_token('template_data.quote.hs_title', '')|render|sanitize_html }}</h1>
        "
      %}
    </div>
  </div>

  <section class="letterhead">
    <div>
      {% module "buyer_company" path="../modules/buyer_company" %}
      {% module "buyer_contacts" path="../modules/buyer_contacts" %}
      {% module "reference" path="../modules/reference" %}
      {% module "quote_created" path="../modules/quote_created" %}
      {% module "quote_expires" path="../modules/quote_expires" %}
    </div>
    <div>
      <div class="sender-company_wrapper">
        {% module "sender_company"
          label="Sender company"
          path="@hubspot/rich_text"
          html="
            <b>{{ personalization_token('template_data.quote.hs_sender_company_name', '') }}</b><br>
            {{ personalization_token('template_data.quote.hs_sender_company_address', '') }}<br>
            {{ personalization_token('template_data.quote.hs_sender_company_address2', '') }}<br>
            {{ personalization_token('template_data.quote.hs_sender_company_city', '')}}{% if template_data.quote.hs_sender_company_city %},{% endif %} {{ personalization_token('template_data.quote.hs_sender_company_state', '')}} {{ personalization_token('template_data.quote.hs_sender_company_zip', '') }}<br>
            {{ personalization_token('template_data.quote.hs_sender_company_country', '') }}<br>
          "
        %}
      </div>
      <br>
      {% module "sender_contact"
        label="Sender contact"
        path="@hubspot/rich_text"
        html={{
          "<b>" ~ template_translations.prepared_by.message ~ " " ~ ptoken_sender_full_name ~ "</b>" ~
          "<br>" ~
          ptoken_sender_title ~
          "<br>" ~
          ptoken_sender_email ~
          "<br>" ~
          ptoken_sender_phone
        }}
      %}
    </div>
  </section>

  {% module "top_total" path="../modules/minimal_top_total" %}

  <section aria-label="line-items">
    {% module "line_items_table"
      path="../modules/line_items_table"
      display_heading="false"
      line_item_column=[
        {
          "column_title": template_translations.products_and_services.message,
          "column_property": "name"
        },
        {
          "column_title": template_translations.quantity.message,
          "column_property": "quantity"
        },
        {
          "column_title": template_translations.price.message,
          "column_property": "amount"
        }
      ]
      subtotal_title={{ template_translations.subtotal_table_title.message }}
      display_subtotal_title={{ true }}
      other_fees_title={{ template_translations.other_fees.message }}
    %}

    <div class="payment-schedule">
      {% module "payment-schedule" path="@hubspot/quote_payment_schedule" %}
    </div>

    <div class="line-items__payment">
      {% module "payment" path="@hubspot/quote_payment" %}
    </div>

  </section>

  <section class="comments">
    {% module "comments"
      label="Comments"
      path="@hubspot/rich_text"
      html={{
        "<h4>" ~ template_translations.comments.message ~ "</h4>" ~
        ptoken_comments
      }}
    %}
  </section>

  <section class="terms">
    {% module "terms"
      label="Terms"
      path="@hubspot/rich_text"
      html={{
        "<h4>" ~ template_translations.purchase_terms.message ~ "</h4>" ~
        ptoken_terms
      }}
    %}
  </section>

  <section class="signature">
    {% module "signature" path="@hubspot/quote_signature" %}
  </section>

  <section>
    {% module "download" path="@hubspot/quote_download" %}
  </section>
</body>
{% endblock body %}
