{% set logos = module.group_logos %}
  {% set grid_settings = module.styles.group_logo_grid %}
  {% set logo_styles = module.styles.group_logo %}
  {% set grid_basis_spacing = grid_settings.grid_gap - (grid_settings.grid_gap / grid_settings.column_count) %}
  {% set column_count_percentage = ((1 / grid_settings.column_count) * 100) ~ "%" %}

{% macro add_style_if_value(style, field, unit = "") %}
  {% set field_with_unit = field ~ unit %}
    {{ style }}: {{ field_with_unit }};
{% endmacro %}

{% require_css %}
  <style>
  @layer module {
  {% scope_css %}
    .hs-logo-grid {
      gap: {{ grid_settings.grid_gap ~ "px" }};
    }
    .hs-logo-grid__logo-wrapper {
      flex: 0 1 calc({{ column_count_percentage }} - {{ grid_basis_spacing ~ "px" }});
      max-width: calc({{ column_count_percentage }} - {{ grid_basis_spacing ~ "px" }});
      {{ add_style_if_value("aspect-ratio", logo_styles.group_background.aspect_ratio) }}
      {{ add_style_if_value("background-color", logo_styles.group_background.background_color.css ) }}
      {{ logo_styles.group_spacing.padding.css }}
    }
    .hs-logo-grid__logo {
      max-height: {{ logo_styles.max_logo_height ~ "px" }};
    }
  {% end_scope_css %}
  }
  </style>
{% end_require_css %}

{% macro build_image(image) %}
  {% if image.src %}
    {% set sizeAttrs = 'width="{{ image.width|escape_attr }}" height="{{ image.height|escape_attr }}"' %}
    {% set loadingAttr = image.loading != 'disabled' ? 'loading="{{ image.loading|escape_attr }}"' : '' %}
    <img class="hs-logo-grid__logo" src="{{ image.src|escape_url }}" alt="{{ image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
  {% endif %}
{% endmacro %}

{% macro build_logo_grid() %}
  {% for item in logos %}
    <div class="hs-logo-grid__logo-wrapper">
      {{ build_image(item.logo) }}
    </div>
  {% endfor %}
{% endmacro %}

<div class="hs-logo-grid">
  {{ build_logo_grid() }} {# Sanitization happening in macro above #}
</div>


