{% require_css %}
  <style>
    {% scope_css %}
      .hs-whatsapp-button {
        {% if module.styles.group_background.color.color %}
          background: rgba({{ module.styles.group_background.color.color|convert_rgb }}, {{ module.styles.group_background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.group_border.border.css }}
        {% if module.styles.group_text.font.color %}
          color: {{ module.styles.group_text.font.color }};
        {% endif %}
        {% if module.styles.group_text.font.size %}
          font-size: {{ module.styles.group_text.font.size ~ module.styles.group_text.font.size_unit }};
        {% endif %}
        {% if module.styles.group_text.font.style %}
          {{ module.styles.group_text.font.style }};
        {% endif %}
        {{ module.styles.group_spacing.spacing.css }}
        {% if module.styles.group_text.transform %}
          text-transform: {{ module.styles.group_text.transform }};
        {% endif %}
      }

      .hs-whatsapp-button:hover,
      .hs-whatsapp-button:focus {
        {% if module.styles.group_hover.group_background.color.color %}
          background: rgba({{ module.styles.group_hover.group_background.color.color|convert_rgb }}, {{ module.styles.group_hover.group_background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.group_hover.group_border.border.css }}
        {% if module.styles.group_hover.group_text.font.color %}
          color: {{ module.styles.group_hover.group_text.font.color }};
        {% endif %}
        {% if module.styles.group_hover.group_text.font.size %}
          font-size: {{ module.styles.group_hover.group_text.font.size ~ module.styles.group_hover.group_text.font.size_unit }};
        {% endif %}
        {% if module.styles.group_hover.group_text.font.style %}
          {{ module.styles.group_hover.group_text.font.style }};
        {% endif %}
      }

      .hs-whatsapp-button:hover .hs-whatsapp-button__icon,
      .hs-whatsapp-button:focus .hs-whatsapp-button__icon {
        {% if module.styles.group_hover.group_icon.color.color %}
          fill: rgba({{ module.styles.group_hover.group_icon.color.color|convert_rgb }}, {{ module.styles.group_hover.group_icon.color.opacity / 100 }});
        {% endif %}
      }

      .hs-whatsapp-button:active {
        {% if module.styles.group_hover.group_background.color.color %}
          background: rgba({{ color_variant(module.styles.group_hover.group_background.color.color, 80)|convert_rgb }}, {{ module.styles.group_hover.group_background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.group_hover.group_border.border.css }}
        {% if module.styles.group_hover.group_border.border %}
          border-color: {{ color_variant(module.styles.group_hover.group_border.border.top.color, 80) }};
        {% endif %}
        {% if module.styles.group_hover.group_text.font.color %}
          color: {{ module.styles.group_hover.group_text.font.color }};
        {% endif %}
        {% if module.styles.group_hover.group_text.font.size %}
          font-size: {{ module.styles.group_hover.group_text.font.size ~ module.styles.group_hover.group_text.font.size_unit }};
        {% endif %}
        {% if module.styles.group_hover.group_text.font.style %}
          {{ module.styles.group_hover.group_text.font.style }};
        {% endif %}
      }

      .hs-whatsapp-button--text {
        {% if module.styles.group_corner.radius >= 0 %}
          border-radius: {{ module.styles.group_corner.radius ~ "px" }};
        {% endif %}
      }

      .hs-whatsapp-button--icon {
        border-radius: 50%;
      }

      .hs-whatsapp-button__icon {
        {% if module.styles.group_icon.size %}
          height: {{ module.styles.group_icon.size ~ "px" }};
          width: {{ module.styles.group_icon.size ~ "px" }};
        {% endif %}

        {% if module.styles.group_icon.color.color %}
          fill: rgba({{ module.styles.group_icon.color.color|convert_rgb }}, {{ module.styles.group_icon.color.opacity / 100 }});
        {% elif module.styles.group_text.font.color %}
          fill: {{ module.styles.group_text.font.color }};
        {% else %}
          fill: #000;
        {% endif %}

        {% if module.styles.group_icon.spacing %}
          margin-right: {{ module.styles.group_icon.spacing ~ "px" }};
        {% endif %}
      }

      .hs-whatsapp-button__text--left {
        order: 2
      }

      .hs-whatsapp-button__text--right {
        order: 1
      }

      .hs-whatsapp-button__icon--right {
        margin-right: 0;
        order: 2;

        {% if module.styles.group_icon.spacing %}
          margin-left: {{ module.styles.group_icon.spacing ~ "px" }};
        {% else %}
          margin-left: 10px;
        {% endif %}
      }

      .hs-whatsapp-button__icon--left {
        margin-left: 0;
        order: 1;

        {% if module.styles.group_icon.spacing %}
          margin-right: {{ module.styles.group_icon.spacing ~ "px" }};
        {% else %}
          margin-right: 10px;
        {% endif %}
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}

{% set whatsapp_number = module.whatsapp_number.href|replace("+", "") %}
{% set show_button_text = module.whatsapp_display != "icon" %}

{% set whatsapp_link = "https://api.whatsapp.com/send/?phone={{ whatsapp_number }}&text={{ module.optin_text }}" %}
{% set button_class = module.whatsapp_display == 'icon' ? 'hs-whatsapp-button--icon' : 'hs-whatsapp-button--text'  %}

<div class="hs-whatsapp-button-wrapper">
  <a href="{{ whatsapp_link|render|escape_url }}" class="hs-whatsapp-button {{ button_class|escape_attr }}" target="_blank" rel="noopener">
    {% if module.whatsapp_display != 'text' %}
      <svg
        class="hs-whatsapp-button__icon {{ "hs-whatsapp-button__icon--{{ module.icon_position|escape_attr }}" if module.whatsapp_display == "text_and_icon" }}"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        aria-hidden="{{ module.whatsapp_display != 'icon'}}"
      >
        <title>{{ module.whatsapp_icon_title|sanitize_html('STRIP') }}</title>
        <!-- Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/>
      </svg>
    {% endif %}

    {% if show_button_text %}
      <span class="hs-whatsapp-button__text--{{ module.icon_position|escape_attr }}">{{ module.button_text|sanitize_html('STRIP') }}</span>
    {% endif %}
  </a>
</div>
