.line-items__table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

.line-items__table-h2 {
  break-after: avoid-page;
}
.line-items__table-scrollable {
  width: 100%;
  overflow-x: auto;
  break-before: avoid-page;
}

.line-items__table td,
.line-items__table th {
  height: 4em;
  border-width: 1px 0px 0px;
  border-style: solid;
  text-align: right;
  vertical-align: top;
}

.line-items__table th {
  font-weight: 600;
  padding: 1em 1.71em;
}

.line-items__table-with-many-columns th {
  padding: 1em;
}

.line-items__table td {
  hyphens: auto;
  overflow-wrap: break-word;
  padding: 1em 1.71em;
}

.line-items__table-with-many-columns td {
  padding: 1em;
}

.line-items__table thead th {
  border: none;
}

.line-items__table tr > th:first-child,
.line-items__table tr > td:first-child,
.line-items__table tr > th:last-child,
.line-items__table tr > td:last-child {
  padding-left: 0;
  padding-right: 0;
}

.line-items__table tr > th:first-child,
.line-items__table tr > td:first-child {
  text-align: left;
  min-width: 120px;
}

.line-item-description {
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.total-qoute-calculations {
  font-size: 16px;
  font-weight: 600;
}

.line-items__table .line-items__table-header--main th {
  border-top: none;
}

.line-items__table .currency__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.totals__row .fee__container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.line-items__table .currency__content,
.line-items__table .currency__content--amount-with-frequency {
  white-space: nowrap;
}

.line-items__table .currency__content s {
  position: relative;
}

.line-items__table .currency__content s::before,
.line-items__table .currency__content s::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  left: 0;
}

.line-items__table .currency__content s::before {
  content: " [start of stricken text (price before discount)] ";
}

.line-items__table .currency__content s::after {
  content: " [end of stricken text] ";
}

.line-items__table .currency__content--full-width {
  width: 100%;
}

.line-items__table td[class^="line-items__cell--max-width"] {
  max-width: 250px;
}

.line-items__subheading td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: auto;
}

.line-items__future-payments-summary td {
  border: none;
  height: auto;
}

.line-items__future-payments-summary tr:first-child td {
  border-top: 1px solid;
}

.line-items__future-payments-summary tr.future-payment__group--first td {
  padding-top: 1em;
}

.line-items__future-payments-summary tr td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.line-items__future-payments-summary tr.future-payment__group--last td {
  border-bottom: 1px solid;
  padding-bottom: 1em;
}

@media print {
  .line-items__table td.line-items__cell--max-width-5 {
    max-width: 200px;
  }

  .line-items__table td.line-items__cell--max-width-6 {
    max-width: 150px;
  }

  .line-items__table tr {
    break-inside: avoid;
  }

  .line-items__total,
  .line-items__totals {
    break-inside: avoid;
  }
}
